<h3>navbar</h3>
<h3>this is customer layout</h3>
<h3>this is customer layout</h3>
<h3>this is customer layout</h3>
<h3>this is customer layout</h3>
<h3>this is customer layout</h3>
<h3>this is customer layout</h3>
<h3>navbar</h3>